:root {
    --main-color: #3498db;
    /* Primary color */
    --secondary-color: #2ecc71;
    /* Secondary color */
    --font-family: 'Arial, sans-serif';
    /* Desired font */
    --font-size: 16px;
    /* Default font size */
    --heading-size: 24px;
    /* Font size for headings */
    --nav-background: darkblue;
    /* Navigation background color */
    --link-color: white;
    /* Link color */
    --aside-background: #eee;
    /* Background color for aside */
    --aside-border-color: rgba(0, 0, 0, 0.2);
    /* Aside border color */
    --footer-border-color: #000;
    /* Footer border color */
    --img-border-color: black;
    /* Default image border color */
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    /* Adjust as needed */
    color: #000;
    /* Adjust as needed */
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid var(--aside-border-color);
    background-color: var(--aside-background);
    color: #333;
    text-align: center;
    position: relative;
    /* Required for absolute positioning of h2 */
}

aside h2 {
    position: absolute;
    /* For overlay */
    top: 47px;
    /* Adjust these values as needed */
    left: 150px;
    /* Adjust these values as needed */
}

/* Additional Styles as needed */

nav {
    background-color: var(--nav-background);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--link-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    /* shorthand for white */
}

h1 {
    color: var(--main-color);
    border-bottom: 1px solid #000;
    /* Added bottom border */
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    float: right;
    /* Float profile image to the right */
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid var(--footer-border-color);
    text-align: center;
}