nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--link-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid var(--aside-border-color);
    padding: 1em;
    background-color: var(--aside-background);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid var(--footer-border-color);
    text-align: center;
}